@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

.navbar {
  background-color: #ba0c2f;
}

.footer {
  background-color: #232323;
  color: #fff;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

.card {
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #2d3748;
}

.card p {
  color: #4a5568;
}

.sidebar {
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  height: calc(100vh - 4rem); /* Full viewport height */
  /*max-height: 100vh; /* Ensure the height doesn't exceed the viewport */
  overflow-y: auto; /* Enable scrolling if content exceeds the height */
  background: #fff; /* Background color for the sidebar */
  padding: 1rem; /* Padding for the content inside the sidebar */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: shadow for better separation */
}

